* {
    /* background-color: beige; */
}
.wrapper {
    display: inline-block;
    width:auto;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing:border-box;
    background-color: tan; 
    
}
.item {
    padding:10px;
    height: 210px;
    display: inline-block;
    vertical-align: top;
    background-color: beige; 
    width: 210px;

}
.actions {
    padding: 10px;
    padding-bottom: 21px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: beige;
}
.back {
    height:10px;
    width:10px;
    vertical-align: top;
}